<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.fwpt.mapper.dqjc.SyncDwMapper">

	<select id="getSyncDw" resultType="com.iflytek.fwpt.vo.SyncDwVO">
		select * from jz_sync_dw where lacCode = #{lac} and ciCode = #{ci}
	</select>
	
	<select id="getSyncDwByArea" resultType="com.iflytek.fwpt.vo.SyncDwVO">
		select distinct ciAddress addressName, ciLat lat, ciLng lng, cityName area 
		from jz_sync_dw
		where cityName = #{area} 
		<if test="address != null and address != '' and address != '重庆市'">
			and ciAddress like CONCAT('%',#{address},'%')
		</if>
	</select>

	<select id="getList" resultType="com.iflytek.fwpt.vo.SyncDwVO">
		select * from jz_sync_dw;
	</select>

	<insert id="insert" parameterType="com.iflytek.fwpt.vo.SyncDwVO">
		insert into jz_sync_dw (id, cityCode, cityName, areaCode,
		areaName, lacCode, lacName,
		ciCode, ciName, ciLat,
		ciLng, ciAddress, createDate
		)
		values (#{id,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR},
		#{cityName,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR},
		#{areaName,jdbcType=VARCHAR}, #{lacCode,jdbcType=VARCHAR},
		#{lacName,jdbcType=VARCHAR},#{ciCode,jdbcType=VARCHAR},
		#{ciName,jdbcType=VARCHAR}, #{ciLat,jdbcType=VARCHAR},
		#{ciLng,jdbcType=VARCHAR}, #{ciAddress,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP}
		)
	</insert>
</mapper>