<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.fwpt.mapper.taskShow.BaseResultMapper">
	<resultMap id="BaseResultVo" type="com.iflytek.fwpt.model.taskShow.BaseResultVo">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="r_id" property="ruleId" jdbcType="VARCHAR" />
		<result column="m_id" property="memberId" jdbcType="VARCHAR" />
		<result column="acc_type" property="accType" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="time" property="time" jdbcType="TIMESTAMP" />
		<result column="area" property="area" jdbcType="VARCHAR" />
		<result column="location" property="location" jdbcType="VARCHAR" />
		<result column="lon" property="lon" jdbcType="VARCHAR" />
		<result column="lat" property="lat" jdbcType="VARCHAR" />
		<result column="c_id" property="columnsId" jdbcType="VARCHAR" />
		<result column="name" property="zdyName" jdbcType="VARCHAR" />
		<result column="value" property="zdyValue" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="saveAccountList" parameterType="java.util.List">
		INSERT INTO tbl_location_result (
		id,
		r_id,
		m_id,
		acc_type,
		account,
		time,
		area,
		location,
		lon,
		lat,
		createtime
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.id},
			#{item.ruleId},
			#{item.memberId},
			#{item.accType},
			#{item.account},
			#{item.time},
			#{item.area},
			#{item.location},
			#{item.lon},
			#{item.lat},
			now()
			)
		</foreach>
	</insert>

	<insert id="saveZDYValueList" parameterType="java.util.List">
		INSERT INTO tbl_column_result (
		id,
		r_id,
		c_id,
		name,
		value,
		createtime
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.id},
			#{item.ruleId},
			#{item.columnsId},
			#{item.zdyName},
			#{item.zdyValue},
			now()
			)
		</foreach>
	</insert>

	<update id="updateResultStatus" parameterType="Map" statementType="STATEMENT">
		<![CDATA[
		update ${table} set isReaded = ${val} where id = ${id} and rule_id = ${ruleId}
		]]>
	</update>
	
	
</mapper>