<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.fwpt.mapper.taskShow.MemberResultMapper">
	<resultMap id="MemberResultVo" type="com.iflytek.fwpt.model.taskShow.MemberResultVo">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="t_id" property="taskId" jdbcType="VARCHAR" />
		<result column="r_id" property="ruleId" jdbcType="VARCHAR" />
		<result column="m_id" property="memberId" jdbcType="VARCHAR" />
		<result column="task_type" property="taskType" jdbcType="VARCHAR" />
		<result column="acc_type" property="accType" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="idCard" property="idCard" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="group_name" property="groupName" jdbcType="VARCHAR" />
		<result column="warning_time" property="warningTime" jdbcType="TIMESTAMP" />
		<result column="location" property="location" jdbcType="VARCHAR" />
		<result column="lon" property="lon" jdbcType="VARCHAR" />
		<result column="lat" property="lat" jdbcType="VARCHAR" />
		<result column="isReaded" property="isReaded" jdbcType="VARCHAR" />
		<result column="isPushed" property="isPushed" jdbcType="VARCHAR" />
		<result column="area_id" property="areaId" jdbcType="VARCHAR" />
		<result column="area_code" property="areaCode" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="msgNum" property="msgNum" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="personVo" type="com.iflytek.fwpt.model.taskShow.vo.PersonVo">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="t_id" property="taskId" jdbcType="VARCHAR" />
		<result column="r_id" property="ruleId" jdbcType="VARCHAR" />
		<result column="task_type" property="taskType" jdbcType="VARCHAR" />
		<result column="account" property="phone" jdbcType="VARCHAR" />
		<result column="idCard" property="idcard" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="group_name" property="group" jdbcType="VARCHAR" />
		<result column="warningTime" property="warningTime" jdbcType="TIMESTAMP" />
		<result column="lon" property="lng" jdbcType="VARCHAR" />
		<result column="lat" property="lat" jdbcType="VARCHAR" />
		<result column="msgNum" property="msgNum" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insertMemberResult">
		INSERT INTO tbl_member_result (
			id,
			t_id,
			r_id,
			m_id,
			task_type,
			acc_type,
			account,
			idCard,
			name,
			group_name,
			warning_time,
			location,
			lon,
			lat,
			isReaded,
			isPushed,
			area_id,
			area_code,
			create_user,
			create_time
		)
		VALUES
		(
			#{id},
			#{taskId},
			#{ruleId},
			#{memberId},
			#{taskType},
			#{accType},
			#{account},
			#{idCard},
			#{name},
			#{groupName},
			#{warningTime},
			#{location},
			#{lon},
			#{lat},
			#{isReaded},
			#{isPushed},
			#{areaId},
			#{areaCode},
			#{createUser},
			now()
		)
	</insert>
	
	<insert id="insertMemberResultList">
		INSERT INTO tbl_member_result (
			id,
			t_id,
			r_id,
			m_id,
			task_type,
			acc_type,
			account,
			idCard,
			name,
			group_name,
			warning_time,
			location,
			lon,
			lat,
			isReaded,
			isPushed,
			area_id,
			area_code,
			create_user,
			create_time
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
		(
			#{item.id},
			#{item.taskId},
			#{item.ruleId},
			#{item.memberId},
			#{item.taskType},
			#{item.accType},
			#{item.account},
			#{item.idCard},
			#{item.name},
			#{item.groupName},
			#{item.warningTime},
			#{item.location},
			#{item.lon},
			#{item.lat},
			#{item.isReaded},
			#{item.isPushed},
			#{item.areaId},
			#{item.areaCode},
			#{item.createUser},
			now()
		)
		</foreach>
	</insert>

	<update id="updateReadStatus">
		<![CDATA[
		update tbl_member_result set isReaded = #{isReaded} where id = #{id}
		]]>
	</update>
	
	<select id="queryResultPersonByTaskId" resultMap="MemberResultVo">
		SELECT
			id,
			t_id,
			r_id,
			m_id,
			task_type,
			acc_type,
			account,
			idCard,
			name,
			group_name,
			max(warning_time) as warning_time,
			location,
			lon,
			lat,
			isReaded,
			isPushed,
			area_id,
			area_code,
			create_user,
			create_time,
			(select count(1) from tbl_member_result tmrs where tmrs.account=tmr.account and tmrs.t_id=tmr.t_id) as msgNum
		FROM
			tbl_member_result tmr
		WHERE 
	         1=1 
	        <if test="criteria.taskId !=null and criteria.taskId !='' "  >
		    	AND tmr.t_id =#{criteria.taskId} 
		    </if>
	        <if test="criteria.account !=null and criteria.account !='' "  >
		    	AND tmr.account =#{criteria.account} 
		    </if>
		    <if test="criteria.idCard !=null and criteria.idCard !='' "  >
		    	AND tmr.idCard =#{criteria.idCard}  
		    </if>
		    <if test="criteria.searchNum !=null and criteria.searchNum !='' "  >
		    	AND (tmr.idCard =#{criteria.searchNum} or tmr.account =#{criteria.searchNum} ) 
		    </if>
	         group by tmr.account
	</select>
	
	<select id="getResultPersonByTaskId" resultMap="personVo">
		SELECT
			id,
			t_id,
			r_id,
			task_type,
			account,
			idCard,
			name,
			group_name,
			max(warning_time)as warningTime,
			lon,
			lat,
			(select count(1) from tbl_member_result tmrs where tmrs.account=tmr.account and tmrs.t_id=tmr.t_id) as msgNum
		FROM
			tbl_member_result tmr
		WHERE 
	         1=1 
	        <if test="criteria.taskId !=null and criteria.taskId !='' "  >
		    	AND tmr.t_id =#{criteria.taskId} 
		    </if>
	        <if test="criteria.account !=null and criteria.account !='' "  >
		    	AND tmr.account =#{criteria.account} 
		    </if>
		    <if test="criteria.idCard !=null and criteria.idCard !='' "  >
		    	AND tmr.idCard =#{criteria.idCard}  
		    </if>
		    <if test="criteria.searchNum !=null and criteria.searchNum !='' "  >
		    	AND (tmr.idCard =#{criteria.searchNum} or tmr.account =#{criteria.searchNum} ) 
		    </if>
	         group by tmr.account
	</select>
	
	
	
	<select id="queryTondayPhoneTrajectory" resultMap="MemberResultVo">
		SELECT
			id,
			t_id,
			location,
			lon,
			lat
		FROM tbl_member_result
		WHERE t_id =#{criteria.taskId} AND account =#{criteria.account} AND date(warning_time) = curdate()
		ORDER BY warning_time DESC
	</select>
	
	<select id="queryResultPersonByPhone" resultMap="MemberResultVo">
		SELECT
			id,
			t_id,
			r_id,
			m_id,
			task_type,
			acc_type,
			account,
			idCard,
			name,
			group_name,
			max(warning_time) as warning_time,
			location,
			lon,
			lat,
			isReaded,
			isPushed,
			area_id,
			area_code,
			create_user,
			create_time
		FROM
			tbl_member_result tmr
		WHERE 
	         1=1 
	        <if test="criteria.account !=null and criteria.account !='' "  >
		    	AND tmr.account =#{criteria.account} 
		    </if>
		    <if test="criteria.idCard !=null and criteria.idCard !='' "  >
		    	AND tmr.idCard =#{criteria.idCard}  
		    </if>
		    <if test="criteria.searchNum !=null and criteria.searchNum !='' "  >
		    	AND (tmr.idCard =#{criteria.searchNum} or tmr.account =#{criteria.searchNum} ) 
		    </if>
		    
	         group by tmr.t_id
	</select>
</mapper>