<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.fwpt.mapper.taskShow.RuleResultMapper">
	<resultMap id="RuleResultVo" type="com.iflytek.fwpt.model.taskShow.RuleResultVo">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="t_id" property="taskId" jdbcType="VARCHAR" />
		<result column="task_name" property="taskName" jdbcType="VARCHAR" />
		<result column="r_id" property="ruleId" jdbcType="VARCHAR" />
		<result column="task_type" property="taskType" jdbcType="VARCHAR" />
		<result column="isReaded" property="isReaded" jdbcType="VARCHAR" />
		<result column="member_id" property="memberId" jdbcType="VARCHAR" />
		<result column="member_json" property="memberJSON" jdbcType="VARCHAR" />
		<result column="column_json" property="columnJSON" jdbcType="VARCHAR" />
		<result column="warning_time" property="warningTime" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insertRuleResult">
		INSERT INTO tbl_rule_result (
			id,
			t_id,
			task_name,
			r_id,
			task_type,
			isReaded,
			member_id,
			member_json,
			column_json,
			warning_time,
			create_user,
			create_time
		)
		VALUES
		(
			#{id},
			#{taskId},
			#{taskName},
			#{ruleId},
			#{taskType},
			#{isReaded},
			#{memberId},
			#{memberJSON},
			#{columnJSON},
			#{warningTime},
			#{createUser},
			now()
		)
	</insert>

	<update id="updateReadStatus">
		<![CDATA[
		update tbl_rule_result set isReaded = #{isReaded} where id = #{id}
		]]>
	</update>
	
	<select id="queryCountNumByTaskId" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
			count(t_id)
		FROM
			tbl_rule_result
		WHERE 
	         1=1 
	    <if test="taskId !=null and taskId !='' "  >
	        AND  t_id =#{taskId} 
	    </if>
	</select>
	
	<select id="queryTodayCountNumByTaskId" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
			count(t_id)
		FROM
			tbl_rule_result
		WHERE 
	         1=1 
	    <if test="taskId !=null and taskId !='' "  >
	        AND  t_id =#{taskId} 
	    </if>
	    AND date(create_time) = curdate()
	</select>
	
</mapper>