<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.fwpt.mapper.taskShow.XZYJResultMapper">
	<resultMap id="XZYJResultVo" type="com.iflytek.fwpt.model.taskShow.XZYJResultVo">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="rule_id" property="ruleId" jdbcType="VARCHAR" />
		<result column="task_type" property="taskType" jdbcType="VARCHAR" />
		<result column="acc_type" property="accType" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
		<result column="last_location" property="lastLocation" jdbcType="VARCHAR" />
		<result column="last_area" property="lastArea" jdbcType="VARCHAR" />
		<result column="lon" property="lon" jdbcType="VARCHAR" />
		<result column="lat" property="lat" jdbcType="VARCHAR" />
		<result column="idReaded" property="idReaded" jdbcType="VARCHAR" />
		<result column="account_json" property="accountJSON" jdbcType="VARCHAR" />
		<result column="warning_time" property="warningTime" jdbcType="TIMESTAMP" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<insert id="save">
		INSERT INTO tbl_xzyj_result (
			id,
			rule_id,
			task_type,
			acc_type,
			account,
			last_time,
			last_location,
			last_area,
			lon,
			lat,
			idReaded,
			account_json,
			warning_time,
			createtime
		)
		VALUES
			(
				#{id},
				#{ruleId},
				#{taskType},
				#{accType},
				#{account},
				#{lastTime},
				#{lastLocation},
				#{lastArea},
				#{lon},
				#{lat},
				#{idReaded},
				#{accountJSON},
				#{warningTime},
				now()
			)
	</insert>

</mapper>